body {
    background-color: rgba(1, 9, 8, 0.85);
}
html,body {
    height: 100%
}
#background {
    width:703px;
    min-height: 100%;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: -17px;
    margin-bottom: -10px;
    padding-bottom: 50px
}
#logo {
    margin: auto;
    text-align: center;
    margin-top: 17px;
    padding-top: 25px;
} 
#navigation-background {
    width:640px;
    height: 62px;
    background-color: #802424;
    border-radius: 25px;
    margin: auto;
}
#navigation-background p {
    margin-top: 0px;
    font-size: 21px;
    font-family: Helvetica, Garamond;
    color: white;
    /*background-color: black;*/
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    position: absolute;
}
.separator {
    display: inline-block;
    background-color: white;
    width: 3px;
    height: 42px; 
    margin-top: 10px;
    position: absolute;
}
#home {
    padding-top: 18px;
    margin-left: 30px;
    padding-bottom: 19px;
}
#sep-1 {
    margin-left: 99px;
}
#education {
    padding-top: 18px;
    margin-left: 105px;
    padding-bottom: 19px;
}
#sep-2 {
    margin-left: 214px;
}
#extra {
    margin-left: 220px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 27px;
}
#sep-3 {
    margin-left: 382px;
}
#resume {
    
    padding-top: 18px;
    margin-left: 389px;
    padding-bottom: 19px;
}
#sep-4 {
    margin-left: 481px
}

#search {
    margin-left: 490px;
    padding-top: 20px;
}
.current {
    background-color: #4a1c17;
}
a.navig-link {
    text-decoration: none;
    color: white;
    
}
a:hover.navig-link {
    background-color: #4a1c17;
}
#contact {
    margin-top: 20px;
    margin-right: 20px;
    width: 180px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    font-family: Adobe Caslon Pro, Garamond;
    text-align: center;
    display: inline-block;
}  
body div div span {
    font-size: 20px;
}
#about {
    width: 80px;
    height: 30px;
    padding-top: 7px;
    border-radius: 10px;
    background-color: #802424;
    float: right;
    clear: right;
    margin-top: 20px;
    margin-right: 65px;
    font-size: 18px;
    font-family: Helvetica, Garamond;
    color: white;
    text-align: center;
}
#about-current {
    width: 80px;
    height: 30px;
    padding-top: 7px;
    border-radius: 10px;
    background-color: #4a1c17;
    float: right;
    clear: right;
    margin-top: 20px;
    margin-right: 65px;
    font-size: 18px;
    font-family: Helvetica, Garamond;
    color: white;
    text-align: center;
}
#math-econ {
    margin-top: 20px;
    margin-left: 32px;
    
    
}
#footer {
  width: 603px;
  margin: auto;
  margin-top: -40px;
  height: 20px;
  background-color: white;
  
}
#footer p {
    font-size: 14px;
    text-align: center;
}
    
    