body {
    background-color: rgba(1, 9, 8, 0.85); /* the outer part of background, opacity set to 0.85 */
} 
html,body {
    height: 100% /* made to stretch the white background regardless of how much content is on a page */
}
#background {
    width:703px;
    min-height: 100%;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: -17px;
    margin-bottom: -10px;
    padding-bottom: 50px
}
#logo {
    margin: auto;
    text-align: center;
    margin-top: 17px;
    padding-top: 25px;
} 
#navigation-background { /* navigation bar */
    width:640px;
    height: 62px;
    background-color: #802424;
    border-radius: 25px;
    margin: auto;
}
#navigation-background p { /* navigation items, common */
    margin-top: 0px;
    font-size: 21px;
    font-family: Helvetica, Garamond;
    color: white;
    /*background-color: black;*/ 
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    position: absolute;
}
.separator { /* separators between navigation items, common */
    display: inline-block;
    background-color: white;
    width: 3px;
    height: 42px; 
    margin-top: 10px;
    position: absolute;
}
/* specific characteristics for each portfolio item and for each separator */
#home {
    padding-top: 18px;
    margin-left: 25px;
    padding-bottom: 19px;
}
#sep-1 {
    margin-left: 106px;
}
#education {
    padding-top: 18px;
    margin-left: 114px;
    padding-bottom: 19px;
}
#sep-2 {
    margin-left: 235px;
}
#extra {
    margin-left: 243px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 27px;
}
#sep-3 {
    margin-left: 417px;
}
#resume {
    padding-top: 18px;
    margin-left: 426px;
    padding-bottom: 19px;
}
#sep-4 {
    margin-left: 531px
}
#about {
    padding-top: 18px;
    margin-left: 540px;
    padding-bottom: 19px;
}
.current {
    background-color: #4a1c17; /* shows which page is opened currently */
}
a.navig-link {
    text-decoration: none;
    color: white;
    
}
a:hover.navig-link {
    background-color: #4a1c17;
}
#search { /* regulates the position of search */
    position: absolute;
    width:200px;
    margin: auto;
    margin-left:500px;
}
#contact { /* contact window */
    margin-top: 80px;
    margin-right: 20px;
    width: 180px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    font-family: Adobe Caslon Pro, Garamond;
    text-align: center;
    display: inline-block;
}  
body div div span { /* text "Contact Information" in contact window */
    font-size: 20px;
}
body div div a { /* decoration of email link */
    text-decoration: none;
    color: #4a1c17;
}
body div p a { /* decoration of links in resume */
    text-decoration: none;
    color: #802424;
}
#math-econ { /* image on the home page */
    margin-top: 20px;
    margin-left: 32px;
    
    
}
#footer { /* position of footer */
  width: 603px;
  margin: auto;
  margin-top: -40px;
  height: 20px;
  background-color: white;
  
}
#footer p { /* text in footer */
    font-size: 14px;
    text-align: center;
} 
.text { /* usual text on pages */
    margin-left: 32px;
    width: 456px;
    text-indent: 40px;
    font-size: 1em;
    font-family: Times;
    text-align: justify;                                             
    text-align-last: justify;
} 
.list {
	width: 456px;
    font-size: 1em;
    font-family: Times;
}
p.text span { /* for names of teachers */
    font-weight: bold;
}
/* different characteristics for different headers */
.header {
    margin-left: 32px;
    margin-right: 200px;
    font-family: Times;
    color: #802424;
}
h2.header {
    text-align: center;
    font-size: 1.5em;
}
h3.header {
    text-align: center;
    font-size: 1.35em;
}
h4.header {
    text-align: left;
    font-size: 1.2em;
}

.img-in-text { /* characterizing images on the category pages */
    float: left;
    margin-left: 32px;
    margin-right: 10px
}
